# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directories
node_modules

# Output directories
dist
build

# Vite files
.vite
.vitepress
cache
temp

# Support for editor cache/browser files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Typescript specific files
*.tsbuildinfo

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local
